@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.header {
    background: #1d3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 2px 7%;
}
/*-----------------------------------------------------------------------------------------*/
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.as {
    color: white;
    border-bottom: none;
    text-decoration: none;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

/*----------------------------------------------------------------------------------------------*/
.imge_1 {
    background-color: #1d35576c;
    z-index: 5;
}

.img_1 {

    height: 40em;
    width: 100%;
    z-index: -5;
    object-fit: cover;

}

.texto_content {
    color: #fff;
    position: absolute;
    width: 97%;
    text-align: left;
    margin-left: 20px;
    top: 280px;
    z-index: 10;
    background-color: #0005;
    font-size: 14px;
}

.texto_content p {
    padding: 1.5em;
    width: 50%;
    font-size: 25px;
    margin-top: 20px;
}

.texto_content h2 {
    font-size: 50px;
}