
<head>
    <link rel="stylesheet" href="./app.component.css">
</head>

<header class="header">

    <div class="logo">
        <div class="btn">
            <a href="#">
                <img src="../img/logo_plaza.png" alt="Logo del Proyecto">
            </a>

        </div>
    </div>

    <nav>
        <ul class="nav-links">
            <!--li><a href="menu.php">Menú</a></!--li-->
            <li><a href="#">Restaurantes</a></li>
            <li><a href="#">Ubicación</a></li>
            <li><a id="btn-modal">Ver compra</a></li>
        </ul>
    </nav>

    <button class="Btn">
        <div class="sign"><svg viewBox="0 0 512 512">
                <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                </path>
            </svg></div>

        <div class="text">
            <a href="#" class="as">Cerar Sesión</a>
        </div>
    </button>

</header>

<section class="content_1">
    <div class="texto_content">
        <h2>
            La mejor plaza de comidas de Cochabamba!!!
        </h2>
        <P> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            quos blanditiis sapiente qui repellendus accusamus tempora porro
            recusandae ut atque fugiat sit modi, sequi perferendis neque similique
            maxime maiores incidunt?
        </P>
    </div>
    <div class="imge_1">
        <img class="img_1"
            src="https://images.pexels.com/photos/1893568/pexels-photo-1893568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="">
    </div>

</section>
