
<app-nav/>

<!--section class="content_1">    ////HACER UN NUEVO COMPONENTE PARA EL INDEX///
<div class="texto_content">
    <h2>
        La mejor plaza de comidas de Cochabamba!!!
    </h2>
    <P> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
        quos blanditiis sapiente qui repellendus accusamus tempora porro
        recusandae ut atque fugiat sit modi, sequi perferendis neque similique
        maxime maiores incidunt?
    </P>
</div>
<div class="imge_1">
    <img class="img_1"
        src="https://images.pexels.com/photos/1893568/pexels-photo-1893568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
</div>

</!--section-->


<app-footer></app-footer>