<script>

</script>
<section class="container">
    <h1>Registro</h1>

    <form action="#" method="post" onsubmit="return validar(this)">
        <h3>Ingrese sus Datos</h3>

        <div class="form-control">
            <input type="text" pInputText formControlName="text" name="nombre" required placeholder="Nombre"
                maxlength="100" minlength="5" />
            <input type="text" name="apellido" required placeholder="Apellido" maxlength="250" minlength="5">
            <input type="text" name="email" required placeholder="Gmail" title="Debe contener @">
            <input type="password" name="contraseña" required placeholder="Contraseña" maxlength="50" minlength="6">
        </div>

        <span>o <a href="#" class="inicio">Inicio de Sesion</a></span>
        <br><br>

        <p-button label="Info" [rounded]="true" severity="info" class="btn"></p-button>

    </form>
</section>