<div class="padre">
    <section class="container">
        <h1>Registro</h1>

        <form action="#" method="post" onsubmit="return validar(this)">
            <h3>Ingrese sus Datos</h3>

            <div class="form-control">
                <input type="text" pInputText formControlName="text" name="nombre" required placeholder="Nombre"
                    maxlength="100" minlength="5" />
                <input type="number" name="apellido" required placeholder="Apellido" maxlength="250" minlength="5">
                <input type="email" name="email" required placeholder="Gmail" title="Debe contener @">
                <input type="password"  >
            </div>

            <span>o <a href="#" class="inicio">Inicio de Sesion</a></span>
            <br><br>

            <button class="btn"> <a href="" style="color: white;">Registrarme</a></button>

        </form>
    </section>
</div>