<section id="map-container">
    <br>
    <br>
        <h1 class="nom_map">
            Encuentranos en la siguiente ubicación
        </h1>
    <br>
    <br>
    <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1165.265714938877!2d-66.17320556889213!3d-17.36896069171965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e3753a69106273%3A0x1be122e90b748a0c!2sLincoln%20-%20Plaza%20de%20Comidas!5e0!3m2!1ses!2sbo!4v1683313698335!5m2!1ses!2sbo" 
        width="900" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <div class="publicidad">
        <br>
        <h3>
            Nuestros números de referencia <br>
            Gerente: 4578565 <br>
            Soprote: 67896456 <br>
            Sucursal Central: 67562658 <br>
        </h3>
    </div>
</section>
