<head>
    <title>Administración</title>

    <link rel="stylesheet" href="./admin.component.css">


</head>
<body>
    
    <header class="header" >       
        <div class="logo">
            <div class="bn">
                <a href="../00_admin/index_admin.php">
                    <img src="../img/logo_plaza.png" alt="Logo del Proyecto">
                </a>
                    
            </div>
        </div>
        <nav>
            <ul class="nav-links">
            
                <li><a href="#">Restaurantes</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Registros</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">Reporte de Ventas</a></li>

            </ul>
        </nav>
    </header>

    <section class="content_1">
        <div class="texto_content">
            <h2>
                Administración de la Plaza

            </h2>
            <P> Todos los cambios que se hagan estaran en la reponsabilidad de 
                de las microempresas, si es que pasara errores.
            </P>
        </div>
        <div  class="imge_1">
            <img class="img_1" src="https://images.pexels.com/photos/3760089/pexels-photo-3760089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>

    </section>
