<app-nav></app-nav>

<div class="padre">
    <section class="content_1">
        <div class="texto_content">
            <h2>
                DISFRUTA DE NUESTROS
            </h2>
            <h1>
                Restaurantes
            </h1>
            <P> Encuentar tu Plato Favoritoa
            </P>
        </div>
        <div class="imge_1">
            <img class="img_1"
                src="https://images.pexels.com/photos/2874979/pexels-photo-2874979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
    </section>

    <section class="content_2">
        <div class="caja">
                <h3>Bienvenido a un lugar magico</h3>
        </div>

    </section>
</div>



<app-footer></app-footer>