<section class="container">

    <h1>Inisio de Sesión</h1>

    <form action="#" method="post">

        <div class="form-control">
            <input type="text" name="email" required placeholder="Gmail" title="Debe contener @">
            <input name="password" type="password" required placeholder="Contraseña" maxlength="50" minlength="6">
            
        </div>



        <p-button label="Info" [rounded]="true" severity="info" class="btn"></p-button>
        <br><br>
        <span> No estoy registrado <a href="#"> Registrarse</a></span>
    </form>



</section>