<head>
    <title>Restaurantes</title>
    <link rel="stylesheet" href="./restaurantes.component.css">

</head>
<body>
    <br><br>
    <div class="titulo-kk" >
        <h1 class="tit" >
            TODOS NUESTROS RESTAURANTES
        </h1>
    </div>

    <section class="section">

        <div class="card">
            <div class="card-header">
                <h3>Ensartados</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Carnes a la parrilla y almuerzos</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>



        <div class="card">
            <div class="card-header">
                <h3>Pizza Hot</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Las mejores pizzas</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>El Gordo</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Lo que le gusta al Cochalo</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>La Pecera</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Gustos de pocos</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Fired Chiken</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Pollos crocantes</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Sillpancho Don Pancho</h3>
            </div>
            <div class="card-body">
                <img src="#" alt="">
                <p>Los mas ricos de Cocha</p>
            </div>
            <div class="card-footer">
                <button class="btn_1">
                    <a href="#">Visitar</a>
                </button>
            </div>
        </div>

    </section>

    <br><br><br>


        <footer class="pie_pagina" >

        </footer>


</body>


