<footer>
    <section>
        <img src="../../assets/iconos/whatsapp.png" alt="" class="img1">
        <img src="../../img/iconos/icono_instagram.svg" alt="" class="img1">
        <img src="../../img/iconos/icono_Facebook.svg" alt="" class="img1">
        <p>Derechos Reservados &copy; 2024 </p>

    </section>

    <div >
        <p>
            Numeros de referencia
        </p>
        <p>Politicas de Privacidad</p>
        <p>Gerente: 4585967</p>
        <p>Terminos de Servicio</p>
        <p>Soporte: 67562659</p>
    </div>


</footer>
