.formularios {
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-self: center;
  position: relative;
  background-color: #0f223dfd;
  padding: 1em;
  border-radius: 0.6em;
  margin: 2em 0;
  box-shadow: 0 0px 5px #0f223dfd;
  & > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    & > p {
      color: #fff;
    }
    & > label {
      color: #fff;
      font-size: 0.9em;
    }
    & > select {
      width: 60%;
      background-color: transparent;
      color: #fff;
      padding: 0.5em;
      outline: none;
      & > option {
        background-color: #0f223dfd;
      }
    }
    & > input {
      background-color: transparent;
      width: 100%;
      padding: 0.5em;
      border-radius: 1em;
      outline: none;
      color: #fff;
      border: 1px #fff solid;
    }
    & > textarea {
      background-color: transparent;
      border: 1px #fff solid;
      width: 100%;
      border-radius: 1em;
      outline: none;
      padding: 0.5em;
      color: #fff;
    }
  }
  & > button {
    position: absolute;
    bottom: -20px;
    right: 1em;
    background-color: #fff;
    border: 1px #0f223dfd solid;
    padding: 0.5em 2.5em;
    color: #0f223dfd;
    border-radius: 2em;
  }
}
