.texto_content {
    color: #fff;
    position: absolute;
    width: 97%;
    text-align: left;
    padding: 5%;
    margin-left: 20px;
    top: 270px;
    z-index: 10;
    background-color: #0002;
}

.tit1 {
    color: #ff6b35;
    font-size: 40px;
}

.tit2 {
    color: white;
    font-size: 25px;
}

.tit3 {
    opacity: 70%;
    color: white;
    font-size: 20px;

}

.img_index {
    z-index: 5;
    height: 36em;
    width: 100%;
    z-index: -5;
    object-fit: cover;
}

/* ---------------------------------------------------------- */