/* src/Sidebar.css */
.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1D3557;
    padding-top: 30px;
}

.sidebar h2 {
    color: white;
    text-align: center;
    padding: 5%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #5390d9;
    border-radius: 1em;
    padding: 1%;
    text-align: center;
    justify-content: center;
}

.icono_admin{

}